{% extends 'base.html' %}
{% block title %}Heroes{% endblock %}
{% block style %}
    <script src="{{ url_for('static', filename='script.js') }}"></script> 
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <style>
        body {
            background-image: url("{{ url_for('static', filename='img/background.jpg') }}");
            background-repeat: no-repeat;
            background-size: 100%;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-9 pt-5">
            <div class="row">
                <div class="row">
                    <div class="col-md-12">
                        <img class="pull-left" style="float:left;margin-right:10px;" src="{{ url_for('static', filename='img/strength.webp') }}", width="40px">
                        <h1 style="color:rgb(229, 75, 46)">Strength</h1>
                    </div>
                </div>
                <div class="row">
                {% for hero in strength %}
                    <div class="col p-1">
                        <img id="{{ hero }}" src="static/img/{{ hero }}.png" class="hero-profile" onclick="hlimage(event)">
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="row" style="margin-top: 4%;">
                <div class="row">
                    <div class="col-md-12">
                        <img class="pull-left" style="float:left;margin-right:10px;" src="{{ url_for('static', filename='img/agility.webp') }}", width="40px">
                        <h1 style="color:rgb(101, 200, 76)">Agility</h1>
                    </div>
                </div>
                <div class="row">
                {% for hero in agility %}
                    <div class="col p-1">
                        <img id="{{ hero }}" src="static/img/{{ hero }}.png" class="hero-profile" onclick="hlimage(event)">
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="row" style="margin-top: 4%;">
                <div class="row">
                    <div class="col-md-12">
                        <img class="pull-left" style="float:left;margin-right:10px;" src="{{ url_for('static', filename='img/intelligence.webp') }}", width="40px">
                        <h1 style="color:rgb(112, 182, 198)">Intelligence</h1>
                    </div>
                </div>
                <div class="row">
                {% for hero in intelligence %}
                    <div class="col p-1">
                        <img id="{{ hero }}" src="static/img/{{ hero }}.png" class="hero-profile" onclick="hlimage(event)">
                    </div>
                {% endfor %}
                <div class="col p-0"></div>
                <div class="col p-0"></div>
                </div>
            </div>
            <div class="row" style="margin-top: 10%;">
                <div class="col-md-2">
                    <input type="submit" name="randomhero" onclick="gethero()" value="Random hero" class="btn btn-secondary"/>
                </div>
                <div class="col-md-2">
                    <input type="submit" name="resetlist" onclick="resetheroeslist()" value="Reset" class="btn btn-secondary"/>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
{% endblock %}