<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <title>Heroes</title>
        <style>
            body {
              background-image: url("{{ url_for('static', filename='img/background.jpg') }}");
              background-repeat: no-repeat;
              background-size: 100%;
            }
        </style>
    </head>
    <body>
        <div id="banner" class="heroes-list">
            <div>
                <div style="display: inline-block">
                    <img src="{{ url_for('static', filename='img/strength.webp') }}", width="40px">
                </div>
                <div style="display: inline-block">
                    <h1 style="color:red;font-size:40px;padding-left: 4px;">Strength</h1>
                </div>
            </div>
            <div class="inline-block" padding-left="20px">
                <img src="{{ url_for('static', filename='img/skeleton_king.png') }}" class="hero-profile">
            </div>
            <div class="inline-block">
                <img src="{{ url_for('static', filename='img/legion_commander.png') }}" class="hero-profile">
            </div>
            <div class="inline-block">
                <img src="{{ url_for('static', filename='img/pudge.png') }}" class="hero-profile">
            </div>
            <div class="inline-block">
                <img src="{{ url_for('static', filename='img/bristleback.png') }}" class="hero-profile">
            </div>
            <div class="inline-block">
                <img src="{{ url_for('static', filename='img/alchemist.png') }}" class="hero-profile">
            </div>
            <div class="inline-block">
                <img src="{{ url_for('static', filename='img/axe.png') }}" class="hero-profile">
            </div>
            <div class="inline-block">
                <img src="{{ url_for('static', filename='img/huskar.png') }}" class="hero-profile">
            </div>
        </div>
        <div id="banner" class="heroes-list" style="padding-top: 4%;">
            <div>
                <div style="display: inline-block">
                    <img src="{{ url_for('static', filename='img/agility.webp') }}", width="40px">
                </div>
                <div style="display: inline-block">
                    <h1 style="color:rgba(0, 255, 34, 0.842);font-size:40px;padding-left: 4px;">Agility</h1>
                </div>
            </div>
            <div class="inline-block" padding-left="20px">
                <img src="{{ url_for('static', filename='img/ember_spirit.png') }}" class="hero-profile">
            </div>
            <div class="inline-block">
                <img src="{{ url_for('static', filename='img/troll_warlord.png') }}" class="hero-profile">
            </div>
            <div class="inline-block">
                <img src="{{ url_for('static', filename='img/nevermore.png') }}" class="hero-profile">
            </div>
            <div class="inline-block">
                <img src="{{ url_for('static', filename='img/terrorblade.png') }}" class="hero-profile">
            </div>
            <div class="inline-block">
                <img src="{{ url_for('static', filename='img/phantom_assassin.png') }}" class="hero-profile">
            </div>
            <div class="inline-block">
                <img src="{{ url_for('static', filename='img/hoodwink.png') }}" class="hero-profile">
            </div>
            <div class="inline-block">
                <img src="{{ url_for('static', filename='img/juggernaut.png') }}" class="hero-profile">
            </div>
        </div>
        <div id="banner" class="heroes-list" style="padding-top: 4%;">
            <div>
                <div style="display: inline-block">
                    <img src="{{ url_for('static', filename='img/intelligence.webp') }}", width="40px">
                </div>
                <div style="display: inline-block">
                    <h1 style="color:rgb(0, 204, 255);font-size:40px;padding-left: 4px;">Intelligence</h1>
                </div>
            </div>
            <div class="inline-block" padding-left="20px">
                <img src="{{ url_for('static', filename='img/ogre_magi.png') }}" class="hero-profile">
            </div>
            <div class="inline-block">
                <img src="{{ url_for('static', filename='img/lina.png') }}" class="hero-profile">
            </div>
            <div class="inline-block">
                <img src="{{ url_for('static', filename='img/void_spirit.png') }}" class="hero-profile">
            </div>
            <div class="inline-block">
                <img src="{{ url_for('static', filename='img/puck.png') }}" class="hero-profile">
            </div>
            <div class="inline-block">
                <img src="{{ url_for('static', filename='img/queenofpain.png') }}" class="hero-profile">
            </div>
        </div>
    </body>
</html>